<div class="row">
  <div id="orders" class="col-md-8">
    <div class="row ">
      {{#each orders}}
      <div class="col-md-6">
        <div class="card bg-white shadow mb-3">
          <div class="card-header">Client #{{id}}</div>
          <div class="card-body">
            <table class="table table-sm table-borderless">
              <tr>
                <th>Customer</th>
                <td>{{customerName}}</td>
              </tr>
              <tr>
                <th>Product code</th>
                <td>{{productCode}}</td>
              </tr>
              <tr>
                <th>Units ordered</th>
                <td>{{unitsOrdered}}</td>
              </tr>
              <tr>
                <th>Unit price (USD)</th>
                <td>{{unitPrice}}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td>{{status}}</td>
              </tr>
            </table>
            <a class="btn btn-secondary" href="/edit/{{id}}">Edit</a>
            <a class="btn btn-danger" href="/delete/{{id}}">Delete</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <a class="btn btn-primary d-block w-50 mx-auto" href="/create">Add</a>
  </div>

  <!-- TODO: Show spreadsheets -->
  <div id="spreadsheets" class="col-md-4">
    <dl class="row mb-3">
      <dt class="col-sm-6">
        <h3 class="text-primary mb-2">Spreadsheets</h3>
      </dt>
      <dd class="col-sm-6">
        <button class="btn btn-success d-block w-50 mx-auto" rel="create" type="button">New</button>
      </dd>
    </dl>

    <dl class="row">
      {{#each spreadsheets}}

      <dt class="col-sm-6"><a href="https://docs.google.com/spreadsheets/d/{{id}}/edit" target="_blank">{{name}}</a>
      </dt>
      <dd class="col-sm-6"><button class="btn btn-warning d-block w-50 mx-auto" rel="sync" data-spreadsheetid="{{id}}"
          type="button">Sync</button></dd>

      {{/each}}
    </dl>
  </div>
</div>

</div>